body {
  
  width: 100%;
  height: 100%;
  background-color: #5E2129;
}

.cabecera{
  background-color: #D7D7D7;
}
.navbar-default{
  width: 100%;
  background-color: #FFA420;
}

.logo {
  height: 250px;
}

.articulo{
  background-color: #D7D7D7;
}

#redes{
  text-align: center;
}


 

@media (min-width: 768px) {
  #contenido{
    width: 100%;
    margin:0 auto;
  }
  #redes{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-item{
    margin-right: 35px;
  }
  
}
@media (min-width: 992px) {
  #contenido{
    width: 90%;
    margin:0 auto;
  }
  .nav-item{
    margin-right: 50px;
  }
  #redes{
    padding-top: 190px;
  }

}
@media (min-width: 1200px) {
  #redes{
    padding-top: 220px;
  }
  .nav-item{
    padding-left: 30px;
  }
  #contenido{
    width: 90%;
    margin:0 auto;
  }
  
}